{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div style="padding-left: 1225px;">
    <!-- <div id="buton konum" class="btn-group">
      <button type="button" class="btn btn-info">Dİl</button>
      <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">English</a>
      </div>
    </div> -->
  </div>
  <br><br>

<section class="gallery-block cards-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders1_1000x800.jpg">
                        <img src="static/img/kinders1_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders2_1000x800.jpg">
                        <img src="static/img/kinders2_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders3_1000x800.jpg">
                        <img src="static/img/kinders3_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders4.1_1000x800.jpg">
                        <img src="static/img/kinders4.1_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders4.2_1000x800.jpg">
                        <img src="static/img/kinders4.2_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders5_1000x800.jpg">
                        <img src="static/img/kinders5_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- 6 -->

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders6_1000x800.jpg">
                     <!-- k -->   <img src="static/img/kinders6_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders7_1000x800.jpg">
                    <!-- k -->    <img src="static/img/kinders7_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders8_1000x800.jpg">
                     <!-- k -->   <img src="static/img/kinders8_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders9_1000x800.jpg">
                      <!-- k -->  <img src="static/img/kinders9_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders10_1000x800.jpg" >
                     <!-- k -->   <img src="static/img/kinders10_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders11_1000x800.jpg">
                     <!-- k -->   <img src="static/img/kinders11_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- 12 -->


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders12_1000x800.jpg">
                     <!-- k -->   <img src="static/img/kinders12_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders13_1000x800.jpg">
                    <!-- k -->    <img src="static/img/kinders13_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders8_1000x800.jpg">
                     <!-- k -->   <img src="static/img/kinders8_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders15_1000x800.jpg">
                      <!-- k -->  <img src="static/img/kinders15_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders16_1000x800.jpg">
                     <!-- k -->   <img src="static/img/kinders16_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="static/img/kinders17_1000x800.jpg">
                     <!-- k -->   <img src="static/img/kinders17_1000x800.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
<!-- 18 --> 
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/kinders25_1000x800.jpg">
                 <!-- k -->   <img src="static/img/kinders25_1000x800.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/kinders19_1000x800.jpg">
                <!-- k -->    <img src="static/img/kinders19_1000x800.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/kinders21_1000x800.jpg">
                 <!-- k -->   <img src="static/img/kinders21_1000x800.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/kinders22_1000x800.jpg" >
                  <!-- k -->  <img src="static/img/kinders22_1000x800.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/kinders23_1000x800.jpg">
                 <!-- k -->   <img src="static/img/kinders23_1000x800.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/kinders24_1000x800.jpg">
                 <!-- k -->   <img src="static/img/kinders24_1000x800.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
    </div>
</div>
<!-- 24 --> 

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/kinders26.jpg">
                 <!-- k -->   <img src="static/img/kinders26.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/kinders27.jpg">
                <!-- k -->    <img src="static/img/kinders27.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/kinders28.jpg">
                 <!-- k -->   <img src="static/img/kinders28.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/kinders29.jpg">
                  <!-- k -->  <img src="static/img/kinders29.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/kinders30.jpg">
                 <!-- k -->   <img src="static/img/kinders30.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/curling1_1000x800.jpg">
                 <!-- k -->   <img src="static/img/curling1_1000x800.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
    </div>
</div>

<!-- 30 --> 

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/curling2_1000x800.jpg">
                 <!-- k -->   <img src="static/img/curling2_1000x800.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/curling3_1000x800.jpg">
                <!-- k -->    <img src="static/img/curling3_1000x800.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/curling4_1000x800.jpg">
                 <!-- k -->   <img src="static/img/curling4_1000x800.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="static/img/curling5_1000x800.jpg">
                  <!-- k -->  <img src="static/img/curling5_1000x800.jpg" alt="Card Image" class="card-img-top">
                </a>
                
            </div>
        </div>
<!-- 34 -->
</section>
<br><br><br>
{% endblock %}


