{% extends 'layout.html' %}
{% load static %}

{% block content %}



<br><br>

<div class="container mt-3">
  <div class="row">
    <!-- Sol taraftaki içerik -->
    <div class="col-md-6">
      <h3 id="projetitle">İdeal Sporunu Keşfetme Zamanı: <br><br></h3>

      <hr>

      <!-- Bilgi tablosu içeren bölüm -->
      <div class="container">
        <table>
          <tr>
            <td style="padding: 10px;"><img src="static/img/calendar2-week.svg" width="35" height="35"></td>
            <td style="padding: 10px;">
              <h5>BAŞLANGIÇ VE BİTİŞ TARİHİ</h5>
              <p>02.01.2024 – 01.09.2024</p>
            </td>
            <td style="padding: 10px;"><img src="static/img/file-earmark-plus.svg" width="35" height="35"></td>
            <td style="padding: 10px;">
              <h5>PROJE REFERANSI</h5>
              <p>2023-1-TR01-KA182-SPO-000146938</p>
            </td>
          </tr>

          <tr>
            <td style="padding: 10px;"><img src="static/img/people-fill.svg" width="35" height="35"></td>
            <td style="padding: 10px;">
              <h5>ANA HEDEF</h5>
              <p>KA182 - Spor Alanında Personel <br>Hareketliliği</p>
            </td>
            <td style="padding: 10px;"><img src="static/img/cash-coin.svg" width="35" height="35"></td>
            <td style="padding: 10px;">
              <h5>PROJE BÜTÇESİ</h5>
              <p>23.760.00 Avro</p>
            </td>
          </tr>
        </table>

      </div>
      <hr>
      <br>
      <h3 id="fontduyuru">PROJE AÇIKLAMASI</h3>
      <br>

      <p id="hakdiv" style="text-align: justify;">Projemizin temel amacı; spor çalışanlarının aktif yaşam ve fiziksel hareketlilik çalışmalarında ulusal düzeyde yeterliliklerini artırarak, sporda taban örgüt olan kurum kapasitesinin geliştirilmesidir.</p>
      <br><br>
     
    </div>

    
    <div  class="col-md-5 ml-auto">
      
      <div style="background-color: #193073; padding: 30px; height: 550px; margin-right: 70px;">
        <h3 style="color: white" id="fontduyuru">PROJE PARTNERLERİ</h3>
        <br>
        <p style="color: white; font-size: 15px;" id="hakdiv">Ankara Gençlik ve Spor İl Müdürlüğü – ANKARA, TURKIYE – Koordinatör</p>
        <p style="color: white; font-size: 15px;" id="hakdiv">Universita Degli Studi Di Cassino E Del Lazio Meridionale – CASSINO FR, ITALY – Ev Sahibi</p>

        <br><br>
        <h3 id="fontduyuru" style="color: white; "> ETKİNLİK AKIŞI</h3> <br>
        <p  style="color: white; font-size: 15px;" id="hakdiv">Kurum personellerinin 10 gün süresince <br> İtalya’da Job Shadowing And Observation ile gözlem yapması.</p>
      
      </div>
    </div>
  </div>


  <hr>
</div>
<div>


</div>

<!-- FOTOĞRAFLAR -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="static/img/kinders26.jpg">
          <!-- k --> <img src="static/img/kinders26.jpg" alt="Card Image" class="card-img-top">
        </a>
        <div class="card-body">
          <h6><a href="#">Lorem Ipsum</a></h6>
          <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="static/img/kinders27.jpg">
          <!-- k --> <img src="static/img/kinders27.jpg" alt="Card Image" class="card-img-top">
        </a>
        <div class="card-body">
          <h6><a href="#">Lorem Ipsum</a></h6>
          <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="static/img/kinders28.jpg">
          <!-- k --> <img src="static/img/kinders28.jpg" alt="Card Image" class="card-img-top">
        </a>
        <div class="card-body">
          <h6><a href="#">Lorem Ipsum</a></h6>
          <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="static/img/kinders29.jpg">
          <!-- k --> <img src="static/img/kinders29.jpg" alt="Card Image" class="card-img-top">
        </a>
        <div class="card-body">
          <h6><a href="#">Lorem Ipsum</a></h6>
          <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="static/img/kinders30.jpg">
          <!-- k --> <img src="static/img/kinders30.jpg" alt="Card Image" class="card-img-top">
        </a>
        <div class="card-body">
          <h6><a href="#">Lorem Ipsum</a></h6>
          <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="static/img/curling1_1000x800.jpg">
          <!-- k --> <img src="static/img/curling1_1000x800.jpg" alt="Card Image" class="card-img-top">
        </a>
        <div class="card-body">
          <h6><a href="#">Lorem Ipsum</a></h6>
          <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="static/img/kinders29.jpg">
          <!-- k --> <img src="static/img/kinders29.jpg" alt="Card Image" class="card-img-top">
        </a>
        <div class="card-body">
          <h6><a href="#">Lorem Ipsum</a></h6>
          <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="static/img/kinders30.jpg">
          <!-- k --> <img src="static/img/kinders30.jpg" alt="Card Image" class="card-img-top">
        </a>
        <div class="card-body">
          <h6><a href="#">Lorem Ipsum</a></h6>
          <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="static/img/curling1_1000x800.jpg">
          <!-- k --> <img src="static/img/curling1_1000x800.jpg" alt="Card Image" class="card-img-top">
        </a>
        <div class="card-body">
          <h6><a href="#">Lorem Ipsum</a></h6>
          <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>










{% endblock %}